.home
  &__container
    max-width 980px
    margin 0 auto 4rem auto
    padding 0 1rem

  &__list
    display flex
    flex-direction row
    flex-wrap wrap
    align-items flex-start
    justify-content center

  &__instructions
    &-header
      text-align center
      margin-bottom 2rem

      h1,
      h2
        margin 0
        padding 0

      h1
        line-height 1.3

  &__overlay
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    display flex
    flex-direction column
    align-items center
    justify-content center
    background-color hsla(0, 0%, 0%, 0.9)

    h2
      pointer-events none

    video
      max-width 100%
      height auto
