@keyframes wobble
  0%
    transform rotate(-5deg)
  10%
    transform rotate(5deg)

  20%
    transform rotate(-4deg)

  30%
    transform rotate(4deg)

  40%
    transform rotate(-3deg)

  50%
    transform rotate(3deg)

  60%
    transform rotate(-2deg)

  70%
    transform rotate(2deg)

  80%
    transform rotate(-1deg)

  85%
    transform rotate(1deg)

  90%
    transform rotate(0deg)

.brew
  width 300px
  padding 1rem
  text-align center

  &__header
    position relative

    &-title
      display inline
      font-family 'Rock Salt', cursive
      font-size 2rem
      margin 0
      padding 0
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%) rotate(-6deg)
      position absolute
      line-height 1.0
      white-space nowrap
      color white

      &-container
        position relative
        width 100%
        height 60px
        overflow visible

    &-unsubscribe
      position absolute
      top -10px
      right 0
      font-size 1.5rem
      margin 0
      padding 0
      height 1.5rem
      line-height 1
      border none
      background transparent
      color white


  &__body
    &-status
      margin 1rem 0

    &-percentage
      &-mug
        width 200px
        height 300px
        margin 0 auto
        border 5px white solid
        border-top none
        border-bottom-left-radius 20px
        border-bottom-right-radius 20px
        padding-top 10px

      &-inner-container
        position relative
        margin 0 10px
        overflow hidden
        height calc(100% - 10px)
        border-bottom-left-radius 10px
        border-bottom-right-radius 10px

      &-text
        position absolute
        top 40%
        left 0
        right 0
        color white
        font-family 'Rock Salt', cursive
        font-size 1.5rem

      &-indicator
        position absolute
        top 100%
        bottom -10px
        left -100px
        right -100px
        background-color hsla(14, 64%, 10%, 100%)
        border-bottom-left-radius 10px
        border-bottom-right-radius 10px
        transition all .3s ease-in-out
        transform-origin top center
        animation wobble infinite 10s ease-in-out alternate

  &__footer
    &-notify
      display flex
      flex-direction row
      align-items center
      justify-content center
      width 100%

      &-text
        margin-left .5rem
        padding-bottom 6px

    .button
      margin 1rem 0
