.button
  background-color transparent
  border 2px white solid
  font-size 0.9rem
  padding 0.5rem
  color white
  font-family 'Open Sans', sans-serif
  text-transform uppercase
  letter-spacing 0.1rem
  display block
  width 100%

  &:hover
    background hsla(0, 0%, 100%, 20%)
