/* Made by Jimmy Gillam */
// From https://codepen.io/theigmo87/pen/cwHyK
// Converted to stylus

@import '../variables'

checked-color = hsla(124, 56%, 46%, 1)
unchecked-color = hsla(0, 0%, 100%, 0.3)
checkbox-height = 2rem
checkbox-duration = .4s

@keyframes bottom-check
  0%
    height: 0

  100%
    height checkbox-height/2

@keyframes top-check
  0%
    height 0

  50%
    height 0

  100%
    height checkbox-height * 1.2

input[type=checkbox].check-box
  display none

label.check-box
  height checkbox-height
  width checkbox-height
  background-color background-color
  border checkbox-height * .1 solid unchecked-color
  border-radius 5px
  position relative
  display inline-block
  transition border ease (checkbox-duration / 2)
  cursor pointer

  &::before,
  &::after
    position absolute
    height 0
    width checkbox-height * .2
    background-color checked-color
    display inline-block
    transform-origin left top
    border-radius 1rem
    content ' '
    transition opacity ease .5s

  &::before
    top checkbox-height * .72
    left checkbox-height * .41
    box-shadow 0 0 0 (checkbox-height * .05) background-color
    transform rotate(-135deg)

  &::after
    top checkbox-height * .37
    left checkbox-height * .05
    transform rotate(-45deg)

input[type=checkbox].check-box:checked + label.check-box,
label.check-box.checked
  border-color checked-color

  &::after
    height checkbox-height * .5
    animation bottom-check (checkbox-duration / 2) ease 0s forwards

  &::before
    height checkbox-height * 1.2
    animation top-check checkbox-duration ease 0s forwards
