@import '../variables'

.nav
  background-color lightness(background-color, 10%)
  margin-bottom 2rem

  &__inner
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    max-width 980px
    margin 0 auto
    padding 0 1rem

  &-group
    display flex
    flex-direction row
    align-items center
    justify-content space-between

  &-item
    padding 1rem
    background-color transparent
    color lightness(background-color, 80%)
    border none
    font-size 1rem
    text-decoration none

  .hosting-env
    text-transform uppercase
    font-size 0.5rem
    color red
    padding-left 0.5rem
