.sign-in-with
  &__panel
    display flex
    flex-direction column
    align-items center
    justify-content stretch
    max-width 400px
    background white
    color black
    margin 0 auto 2rem auto
    box-shadow 10px 10px 5px 0px rgba(0,0,0,0.5)
    padding 1rem

  &-provider
    position relative
    display block
    width 100%
    padding 1rem 2rem
    font-size 1rem
    font-weight bold
    letter-spacing .1rem
    margin .2rem 0
    box-shadow 0 8px 15px rgba(0,0,0,0.5)
    transition all .3s ease-in-out

    &:not([disabled]):hover,
    &:not([disabled]):active
      box-shadow 0 4px 15px rgba(0,0,0,0.5)

    &[disabled]
      box-shadow 0 0 rgba(0,0,0,0) !important

    &.github
      background-color hsla(0, 0%, 20%, 1)
      color lighten(@background-color, 78%)
      border 1px lighten(@background-color, 10%) solid

    &.google
      background-color hsla(217, 89%, 61%, 1)
      color lighten(@background-color, 78%)
      border 1px lighten(@background-color, 10%) solid

    &.firebase
      background-color hsla(45, 100%, 58%, 1)
      color lighten(@background-color, 78%)
      border 1px lighten(@background-color, 10%) solid


