@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt')
@import './variables'

html,
body
  margin 0
  padding 0
  background background-color
  font-family 'Open Sans', sans-serif
  color hsl(0, 0%, 80%)

  *
    box-sizing border-box

  h1
    font-family 'Rock Salt', cursive
    color white
